.zoomrc-skeleton-paper {
  display: inline-block;
  position: relative;

  > .zoomrc-skeleton {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    display: block;
  }

  > .skeleton-icon {
    position: absolute;
    color: color(placeholder);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }

  &-circular {
    > .zoomrc-skeleton {
      border-radius: 50%;
    }
  }
}
