@mixin license-global-settings {
  background-color: color(layer, 1);
  border: 2px solid color(border, 2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

@mixin license-number-global-settings {
  flex: 1;
  display: flex;
  justify-content: center;
  color: color(text, 2);
  font-weight: var(--zoomlang-face-extra-bold);
}

@mixin license-iran-global-settings {
  color: white;
  position: absolute;
  font-size: 6.5px;
  left: 2px;
  letter-spacing: -0.8px;
}

@mixin license-number-font-size {
  .zoomlang-license-plate-top-section-number-first,
  .zoomlang-license-plate-number-second {
    @content;
  }
}

.zoomlang-license-plate {
  &-small {
    @include license-global-settings;

    width: 80px;
    height: 48px;

    @include license-number-font-size {
      font-size: 14px;
    }
  }

  &-normal {
    @include license-global-settings;

    width: 100px;
    height: 60px;

    @include license-number-font-size {
      font-size: 18px;
    }
  }

  &-large {
    @include license-global-settings;

    width: 120px;
    height: 72px;

    @include license-number-font-size {
      font-size: 22px;
    }
  }

  &-top-section {
    height: 50%;
    display: flex;

    &-flag-container {
      background-color: #039;
      width: 20px;
      height: 100%;
      display: flex;
      position: relative;

      &-flag {
        width: calc(100% - 4px);
        position: absolute;
        left: 0;
        right: 0;
        top: 2px;
        margin: auto;
      }

      &-ir {
        @include license-iran-global-settings;

        bottom: 4px;
      }

      &-iran {
        @include license-iran-global-settings;

        bottom: -2px;
      }
    }

    &-number-first {
      @include license-number-global-settings;

      align-items: flex-end;
      letter-spacing: 8px;
      line-height: 1;
    }
  }

  &-number-second {
    @include license-number-global-settings;

    align-items: center;
    letter-spacing: 4px;
  }
}
