.zoomrc-date-picker {
  width: 360px;
  max-width: 100%;
  border: 1px solid color(border, 2);
  border-radius: 4px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  background-color: color(layer, 1);
  padding: 10px;
  user-select: none;

  > .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > .selectors {
      display: flex;
      gap: 6px;

      > .zoomrc-select {
        width: fit-content;
      }
    }

    > .navigate-button {
      > .zoomrc-button-inner-child {
        width: 34px;
        height: 34px;

        > .zoomrc-icon {
          font-size: to-rem(34px);
        }
      }
    }
  }

  > .secondary-header {
    margin-top: -12px;

    > .secondary-date {
      margin: 0;
      color: color(text, 3);
      width: 100%;
      text-align: center;
    }
  }

  > .week-day-names {
    display: grid;
    grid-template-columns: repeat(7, 48px);
    margin-bottom: -8px;
    border-bottom: 1px solid color(border, 2);
    padding: 0 0 6px;
    width: 100%;

    > .week-item {
      width: 48px;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: color(text, 3);
      user-select: none;
      padding: 3px;
    }
  }

  > .day-picker {
    width: 100%;
    height: auto;

    > .days {
      display: grid;
      grid-template-columns: repeat(7, 48px);

      > .day-item {
        width: 48px;
        height: 48px;
        padding: 3px;
        color: color(text, 2);
        position: relative;

        > .day-item-child {
          @include text(bold, large);

          margin: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 6px;
          user-select: none;
          cursor: pointer;
          background-color: color(layer, 2, glassy, 5);
          border: 1px solid transparent;

          > .secondary-day {
            @include text(italic, small);

            position: absolute;
            color: color(text, 3);
            bottom: 4px;
            left: 0;
            right: 0;
            margin: auto;
            text-align: center;
            pointer-events: none;
          }

          > .events {
            position: absolute;
            top: 6px;
            display: flex;
            gap: 2px;

            > .event {
              width: 6px;
              height: 6px;
              border-radius: 50%;

              &.user-event {
                background-color: color(accent, 1, glassy, 5);
              }

              &.native-event {
                background-color: color(text, 3, glassy, 5);
              }
            }
          }

          &.today {
            border-color: color(accent, 1, glassy, 5);
            color: color(accent);
            background-color: color(accent, 1, glassy, 1);
          }

          &.holiday {
            color: color(error);
          }

          &.in-range,
          &.preview-end,
          &.active {
            background-color: color(accent, 1, glassy, 6);
            color: white;

            > .events,
            > .secondary-day {
              color: white;
            }

            > .events > .event {
              background-color: white;
            }
          }

          &.in-preview-range {
            background-color: color(accent, 1, glassy, 2);
          }

          &:hover {
            background-color: color(border, 2);

            &.today {
              background-color: color(accent, 1, glassy, 2);
            }

            &.in-range,
            &.preview-end,
            &.active {
              background-color: color(accent, 1, glassy, 7);
            }
          }

          &.disabled {
            opacity: 0.3;
            cursor: not-allowed;
            pointer-events: none;
          }
        }
      }
    }
  }

  > .current-time {
    width: 100%;
    color: color(text, 2);
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;

    > .time,
    > .colon {
      margin: 0;
    }
  }

  > .time-pickers {
    display: flex;
    justify-content: center;
    align-items: center;
    color: color(text, 1);
    gap: 4px;
    width: 80%;
    margin: 0 auto;
    flex-direction: row-reverse;

    > .time-picker-colon {
      margin-bottom: -20px;
    }

    > .time-picker {
      display: flex;
      flex-direction: column;
      align-items: center;

      > .title {
        margin: 0 0 2px;
        color: color(text, 2);
      }
    }
  }

  > .events {
    width: 100%;
    background-color: color(layer, 2);
    border-radius: 6px;
    padding: 0 10px;

    > .event {
      color: color(text, 2);
      position: relative;
      padding-inline-start: 8px;

      &::before {
        content: '';
        width: 4px;
        height: 100%;
        border-radius: 2px;
        display: inline-block;
        position: absolute;
        margin-inline-start: -8px;
      }

      &.user-event {
        &::before {
          background-color: color(accent, 1, glassy, 5);
        }
      }

      &.calendar-event {
        &::before {
          background-color: color(text, 3, glassy, 5);
        }
      }

      &.no-event {
        &::before {
          content: unset;
        }
      }
    }
  }
}

.date-picker-month-selector-portal {
  .options-container {
    min-width: 100px;
  }
}
