@mixin generate-uploader-variants($variant) {
  $is-neutral: $variant == neutral;
  $color: if($is-neutral, color(text, 1), color($variant));
  $border-color: if($is-neutral, color(border, 2), color($variant, glassy, 4));

  &-#{$variant} {
    color: $color;
    border-color: $border-color;
  }
}
