.material-icons {
  user-select: none;
}

@include ltr {
  .material-icons {
    &.flip-on-ltr-layout {
      transform: scaleX(-1);
    }
  }
}

@include rtl {
  .material-icons {
    &.flip-on-rtl-layout {
      transform: scaleX(-1);
    }
  }
}
