$zoomrc-spin-left-margin: 4px;

span[class^='zoomrc-spin-'] {
  display: flex;
  align-items: center;

  > svg {
    margin-left: $zoomrc-spin-left-margin;

    > .outer-path {
      opacity: 0.2;
    }
  }

  > p[class^='zoomrc-text-'] {
    color: color(text, 2);
    margin: 0;
  }
}

@include ltr {
  span[class^='zoomrc-spin-'] {
    > svg {
      margin-left: 0;
      margin-right: $zoomrc-spin-left-margin;
    }
  }
}

.zoomrc-spin {
  &-small > svg {
    width: to-rem(34px, small);
  }

  &-normal > svg {
    width: to-rem(36px, normal);
  }

  &-large > svg {
    width: to-rem(38px, large);
  }
}
