@keyframes zoomrc-spin-animation {
  to {
    transform: rotate(360deg);
  }
}

.zoomrc-spin {
  display: flex;
  align-items: center;
  column-gap: 10px;

  > .spinner {
    animation-name: zoomrc-spin-animation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    border-left: none;
    border-top: none;
    border-radius: 50%;
  }

  &-small > .spinner {
    width: 18px;
    height: 18px;
  }

  &-normal > .spinner {
    width: 24px;
    height: 24px;
  }

  &-large > .spinner {
    width: 30px;
    height: 30px;
  }
}
