@import 'variables';
@import 'functions';
@import 'mixins';

@keyframes zoomrc-pulsed-tour-animation {
  from {
    box-shadow: 0 0 0 2px color(accent, 1, glassy, 8);
  }

  to {
    box-shadow: 0 0 0 30px transparent;
  }
}

@keyframes zoomrc-raise-up-step-animation {
  from {
    transform: scale(0.5);
  }
}

.zoomrc-tour-backdrop {
  background-color: color(backdrop);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 98;
}

.zoomrc-tour-raised-element {
  z-index: 99;
  position: relative;
  box-shadow: 0 0 0 2px color(accent);
  animation: zoomrc-pulsed-tour-animation 1s cubic-bezier(0.01, 0.95, 0.62, 0.98) infinite;
}

.zoomrc-tour-steps-container {
  @include zoomrc-generate-tour-step-positions(left);

  height: 100vh;
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.zoomrc-tour {
  width: 100%;
  max-width: 400px;
  height: auto;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  transition: all 0.5s cubic-bezier(0, 0.49, 0.62, 0.98);
  animation: zoomrc-raise-up-step-animation 200ms ease;
  background-color: color(layer, 2);
  border-radius: 4px;
  border: 1px solid color(accent);

  @include respect(phone) {
    width: calc(100% - 20px);
    max-width: 270px;
  }

  > .step-content {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    > .content-header {
      display: flex;
      align-items: flex-start;
      column-gap: 6px;

      > .step-icon {
        font-size: to-rem(30px);
        color: color(text, 1);
      }

      > .step-emoji {
        width: 24px;
      }

      > .step-title {
        margin: 0;
        color: color(text, 1);
        flex: 1;
      }
    }

    > .step-spinner {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100px;
    }

    > .step-description {
      color: color(text, 2);
      margin: 0;
    }

    > .step-custom-content {
      color: color(text, 2);
    }

    > .step-footer {
      display: flex;
      column-gap: 6px;
      align-items: center;

      > .skip-button {
        flex: 1;
      }
    }
  }
}

@include ltr {
  .zoomrc-tour-steps-container {
    @include zoomrc-generate-tour-step-positions(right);
  }
}
