@import 'mixins';

@keyframes zoomrc-pulsed-tour-animation {
  from {
    box-shadow: 0 0 0 2px color(accent, 1, glassy, 8);
  }

  to {
    box-shadow: 0 0 0 30px transparent;
  }
}

.zoomrc-tour-backdrop {
  background-color: color(backdrop);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 98;
}

.zoomrc-tour-raised-element {
  z-index: 99;
  position: relative;

  &:not(&-pulsed) {
    box-shadow: 0 0 0 2px color(accent);
  }

  &-pulsed {
    animation: zoomrc-pulsed-tour-animation 1.5s cubic-bezier(0.01, 0.95, 0.62, 0.98) infinite;
  }
}

.zoomrc-tour-steps-container {
  @include zoomrc-tour-steps-container-positions;

  display: flex;
  height: 100vh;
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.zoomrc-tour {
  width: 200px;
  height: 200px;
  background-color: gray;
}
