div.zoomrc-scroll-view {
  .os-scrollbar {
    &-auto-hidden {
      opacity: 0.2 !important;
      visibility: visible;
    }

    &-handle {
      transition: background-color 150ms linear;
      background-color: color(text, 2) !important;
    }

    &:hover {
      .os-scrollbar-handle {
        background-color: color(text, 1) !important;
      }
    }
  }
}
