$switch-variants: ('success', 'info', 'warning', 'error', 'neutral');
$switch-sizes: ('small', 'normal', 'large');
$zoomrc-switch-label-text-right-margin: 8px;
$zoomrc-switch-inner-circle-left: 17px;
