$items-padding: 4px 10px;

@mixin items-active-and-hover {
  &:hover,
  &[aria-expanded='true'] {
    background-color: color(accent);
    color: white;

    * {
      color: white;
    }
  }
}

button.zoomrc-menu {
  position: relative;

  > span,
  > a {
    border-radius: inherit;

    > .menu-button {
      position: absolute;
      border-radius: inherit;
      left: -2px;
      right: 0;
      bottom: 0;
      top: -2px;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      padding: 0;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}

div.menu-list-inspector {
  background-color: color(layer, 2);
  border: 1px solid color(border, 2);
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0 0 0 6%), 0 4px 4px rgba(0 0 0 12%) !important;

  > .zoomrc-menu-dropdown,
  > .zoomrc-menu.rtl-layout-dropdown,
  > div > div:not([role='menu']) {
    background-color: transparent !important;
    padding: 4px 0 !important;
    border: none !important;

    div[role='menu'] {
      @include text(common, normal);

      color: color(text, 2);
      min-width: 200px;

      > .zoomrc-menu-item {
        display: flex;

        &.with-subitems {
          @include items-active-and-hover;

          flex-direction: row-reverse;
          padding: $items-padding;
          justify-content: space-between;
          align-items: center;

          > .menu-item-child {
            padding: 0;
          }

          > .chevron-icon {
            &.ltr-layout {
              transform: scale(-1);
            }
          }
        }

        &.rtl-layout {
          > .menu-item-child {
            > .menu-item-accelerator {
              margin-right: 40px;
              margin-left: 0;
            }
          }
        }

        > .menu-item-child {
          @include items-active-and-hover;

          color: inherit;
          text-decoration: none;
          display: flex;
          padding: $items-padding;
          width: 100%;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          user-select: none;
          -webkit-user-drag: none;

          > .menu-item-title {
            flex: 1;
          }

          > .menu-item-accelerator {
            @include text(common, small);

            margin-left: 40px;
            display: flex;
            align-items: center;
            color: color(text, 3);
            direction: ltr;

            > .command {
              display: flex;
              align-items: center;
            }

            > .control {
              display: flex;
              align-items: center;
            }

            > .other-keys {
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }
  }
}
