@use 'sass:math';
@import 'functions';
@import 'mixins';

@include create-popover-animation(top) {
  transform: translateY(calc(-100% + 5px));
}

@include create-popover-animation(bottom) {
  transform: translateY(calc(100% - 5px));
}

@include create-popover-animation(right) {
  transform: translateX(calc(100% - 5px));
}

@include create-popover-animation(left) {
  transform: translateX(calc(-100% + 5px));
}

div.zoomrc-popover {
  @include zoomrc-popover-placements;

  position: relative;
  display: inline-flex;
  direction: rtl;

  > .zoomrc-popover-container {
    position: absolute;
    max-width: 260px;

    > .container-children {
      position: relative;
      display: flex;
      flex-direction: column;
      background-color: color(layer, 1);
      padding: 6px 14px;
      border-radius: 6px;
      border: 1px solid color(border, 2);

      > .arrow {
        position: absolute;
        width: 24px;
        height: 10px;
        display: block;
        overflow: hidden;

        &::before {
          content: '';
          position: absolute;
          width: 20px;
          height: 20px;
          background-color: color(layer, 1);
          transform: rotate(45deg);
          border-radius: 6px 0 0;
          top: 2px;
          left: 0;
          right: 0;
          margin: auto;
          border: 1px solid color(border, 2);
        }
      }

      > .zoomrc-popover-title {
        color: color(text, 1);
        margin: 0 0 6px;
        text-align: right;
        direction: rtl;
      }

      > .zoomrc-popover-description {
        color: color(text, 2);
        margin: 0;
        text-align: right;
        direction: rtl;
      }

      > .zoomrc-popover-content {
        margin-top: 6px;
        direction: rtl;
      }

      > .popover-loader {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px 0;
      }
    }
  }
}

@include ltr {
  div.zoomrc-popover {
    > .zoomrc-popover-container {
      > .container-children {
        > .zoomrc-popover-title,
        > .zoomrc-popover-description {
          text-align: left;
          direction: ltr;
        }

        > .zoomrc-popover-content,
        > .popover-loader {
          direction: ltr;
        }
      }
    }
  }
}
