@use 'sass:math';

$zoomrc-popover-gap: 12px;

@mixin popover-container {
  > .zoomrc-popover-container {
    @content;
  }
}

@mixin popover-arrow {
  @include popover-container {
    > .container-children {
      > .arrow {
        @content;
      }
    }
  }
}

@mixin create-popover-animation($placement) {
  @keyframes #{popover-animation-name($placement)} {
    from {
      opacity: 0;
      @content;
    }
  }
}

@mixin popover-animation($placement) {
  animation: popover-animation-name($placement) 150ms linear;
}

@mixin zoomrc-popover-gap($placement) {
  $p: $placement;
  $padding-dir: if($p == top, bottom, if($p == bottom, top, if($p == left, right, left)));

  padding-#{$padding-dir}: 6px;

  &.with-arrow {
    padding-#{$padding-dir}: 12px;
  }
}

@mixin zoomrc-popover-top-start {
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column-reverse;

  @include popover-container {
    @include popover-animation(top);
    @include zoomrc-popover-gap(top);

    transform: translateY(-100%);
  }

  @include popover-arrow {
    bottom: -10px;
    transform: rotate(180deg);
    left: 12px;
  }
}

@mixin zoomrc-popover-top {
  justify-content: flex-end;
  align-items: center;
  flex-direction: column-reverse;

  @include popover-container {
    @include popover-animation(top);
    @include zoomrc-popover-gap(top);

    transform: translateY(-100%);
  }

  @include popover-arrow {
    bottom: -10px;
    transform: rotate(180deg);
    left: 0;
    right: 0;
    margin: auto;
  }
}

@mixin zoomrc-popover-top-end {
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column-reverse;

  @include popover-container {
    @include popover-animation(top);
    @include zoomrc-popover-gap(top);

    transform: translateY(-100%);
  }

  @include popover-arrow {
    bottom: -10px;
    transform: rotate(180deg);
    right: 12px;
  }
}

@mixin zoomrc-popover-right-start {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  @include popover-container {
    @include popover-animation(right);
    @include zoomrc-popover-gap(right);

    transform: translateX(100%);
  }

  @include popover-arrow {
    top: 12px;
    transform: rotate(-90deg);
    left: -17px;
  }
}

@mixin zoomrc-popover-right {
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  @include popover-container {
    @include popover-animation(right);
    @include zoomrc-popover-gap(right);

    transform: translateX(100%);
  }

  @include popover-arrow {
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(-90deg);
    left: -17px;
  }
}

@mixin zoomrc-popover-right-end {
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;

  @include popover-container {
    @include popover-animation(right);
    @include zoomrc-popover-gap(right);

    transform: translateX(100%);
  }

  @include popover-arrow {
    bottom: 12px;
    transform: rotate(-90deg);
    left: -17px;
  }
}

@mixin zoomrc-popover-bottom-start {
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  @include popover-container {
    @include popover-animation(bottom);
    @include zoomrc-popover-gap(bottom);

    transform: translateY(100%);
  }

  @include popover-arrow {
    top: -10px;
    transform: rotate(0);
    left: 12px;
  }
}

@mixin zoomrc-popover-bottom {
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;

  @include popover-container {
    @include popover-animation(bottom);
    @include zoomrc-popover-gap(bottom);

    transform: translateY(100%);
  }

  @include popover-arrow {
    top: -10px;
    transform: rotate(0);
    left: 0;
    right: 0;
    margin: auto;
  }
}

@mixin zoomrc-popover-bottom-end {
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;

  @include popover-container {
    @include popover-animation(bottom);
    @include zoomrc-popover-gap(bottom);

    transform: translateY(100%);
  }

  @include popover-arrow {
    top: -10px;
    transform: rotate(0);
    right: 12px;
  }
}

@mixin zoomrc-popover-left-start {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row-reverse;

  @include popover-container {
    @include popover-animation(left);
    @include zoomrc-popover-gap(left);

    transform: translateX(-100%);
  }

  @include popover-arrow {
    top: 12px;
    transform: rotate(90deg);
    right: -17px;
  }
}

@mixin zoomrc-popover-left {
  justify-content: flex-start;
  align-items: center;
  flex-direction: row-reverse;

  @include popover-container {
    @include popover-animation(left);
    @include zoomrc-popover-gap(left);

    transform: translateX(-100%);
  }

  @include popover-arrow {
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(90deg);
    right: -17px;
  }
}

@mixin zoomrc-popover-left-end {
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row-reverse;

  @include popover-container {
    @include popover-animation(left);
    @include zoomrc-popover-gap(left);

    transform: translateX(-100%);
  }

  @include popover-arrow {
    bottom: 12px;
    transform: rotate(90deg);
    right: -17px;
  }
}

@mixin zoomrc-popover-placements {
  &-top-start {
    @include zoomrc-popover-top-start;
  }

  &-top {
    @include zoomrc-popover-top;
  }

  &-top-end {
    @include zoomrc-popover-top-end;
  }

  &-right-start {
    @include zoomrc-popover-right-start;
  }

  &-right {
    @include zoomrc-popover-right;
  }

  &-right-end {
    @include zoomrc-popover-right-end;
  }

  &-bottom-start {
    @include zoomrc-popover-bottom-start;
  }

  &-bottom {
    @include zoomrc-popover-bottom;
  }

  &-bottom-end {
    @include zoomrc-popover-bottom-end;
  }

  &-left-start {
    @include zoomrc-popover-left-start;
  }

  &-left {
    @include zoomrc-popover-left;
  }

  &-left-end {
    @include zoomrc-popover-left-end;
  }
}
