@import '../../styles/functions';

.sb-icon-component {
  font-size: 50px;
  background-color: color(layer, 1);
  color: color(accent, 1);
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid color(border, 2);

  a {
    font-size: 20px;
    text-align: center;
    display: block;
    color: color(text, 3);
  }
}
