div[class^='zoomrc-reaction-'] {
  display: inline-flex;

  > button[class^='zoomrc-button-'] {
    width: 46px;
    height: 46px;
    margin: 0 2px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    > span[class^='zoomrc-button'] {
      padding: 4px;
    }

    .zoomrc-emoji {
      width: 100%;
    }

    > .zoomrc-button-small-inner-child {
      height: 100%;

      > .zoomrc-spin-small {
        display: flex;
        align-items: center;
        justify-content: center;

        > svg {
          margin: 0;
          width: 100%;

          > path {
            fill: color(accent, 2, glassy, 5);
          }
        }
      }
    }
  }
}
