.with-buttons-story {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  > .handlers {
    direction: ltr;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: 2px dashed color(border, 2);
    border-radius: 6px;
    flex-direction: column;
    padding: 10px;
    position: sticky;
    background-color: color(layer, 1);
    top: 6px;
    z-index: 10;

    &:not(.grouped) {
      align-items: flex-start;
      justify-content: flex-start;
      gap: 2px;
      flex-flow: row wrap;
    }
  }

  > .secondary-child {
    direction: ltr;
    border: 2px dashed color(border, 2);
    border-radius: 6px;
    padding: 10px;

    * {
      direction: ltr;
    }
  }

  > .story {
    display: block;
    width: 100%;
  }
}
