body.zoomrc-resizable-maker-resizing {
  &,
  & * {
    user-select: none !important;
  }

  &-ns {
    &,
    & * {
      cursor: ns-resize !important;
    }
  }

  &-ew {
    &,
    & * {
      cursor: ew-resize !important;
    }
  }

  &-ne {
    &,
    & * {
      cursor: ne-resize !important;
    }
  }

  &-se {
    &,
    & * {
      cursor: se-resize !important;
    }
  }
}
