.zoomrc-rich-text-editor-table-container {
  width: 100%;
  display: block;
  max-width: calc(100% - 20px);
  max-height: 200px;
  overflow: hidden;
  position: relative;
  border: 1px solid color(border, 2);
  border-radius: 4px;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: color(layer, 1, glassy, 7);
    transition: all 150ms linear;
    cursor: pointer;
  }

  &:hover {
    &::after {
      background-color: color(layer, 1, glassy, 5);
    }
  }

  > table {
    width: 100%;
    pointer-events: none;

    > thead {
      > tr {
        > th {
          border: 1px solid color(border, 2);
          background-color: color(layer, 2);
          padding: 8px 12px 4px;
        }
      }
    }

    > tbody {
      > tr {
        > td {
          padding: 8px 12px 4px;
          border: 1px solid color(border, 2);
        }
      }
    }
  }

  > span {
    position: absolute;
    width: 0;
    height: 0;
    top: 4px;
    left: 4px;
  }
}
