.placements-story {
  width: 100%;
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;

  > table {
    direction: ltr;
  }

  .zoomrc-button-inner-child {
    text-align: center;
    display: block;
    width: 100%;
  }
}
