.zoomrc-popover {
  z-index: 2;
}

.emoji-picker-popover {
  > .zoomrc-popover-container {
    max-width: 350px !important;

    > .container-children {
      padding: 0 !important;

      > .zoomrc-popover-content {
        margin: 0 !important;

        .zoomrc-emoji-picker {
          border: none;
        }
      }
    }
  }
}

.insert-link-popover {
  > .zoomrc-popover-container {
    max-width: 350px !important;

    > .container-children {
      padding: 6px !important;

      > .zoomrc-popover-content {
        margin: 0 !important;

        .get-link-form {
          display: flex;
          align-items: center;
          gap: 4px;

          .zoomrc-input {
            direction: ltr !important;
            text-align: left !important;
          }

          > .confirm-link-button {
            max-width: unset;
            min-width: unset;
            width: 32px;
            height: 32px;
            font-size: to-rem(28px) !important;
          }
        }
      }
    }
  }
}
