@keyframes startup {
  from {
    transform: scale(1.05);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

.zoomrc-story-wrapper {
  animation: startup 150ms ease-in;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
