@mixin zoomrc-rich-text-editor-content-styles {
  .zoomrc-rich-text-editor-emoji-container {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    line-height: 24px;
    letter-spacing: 16px;
    transform: translateY(-4px);
  }

  h1 {
    .zoomrc-rich-text-editor-emoji-container {
      height: 36px;
      width: 36px;
      line-height: 40px;
      letter-spacing: 28px;
      transform: translateY(-9px);
    }
  }

  h2 {
    .zoomrc-rich-text-editor-emoji-container {
      height: 32px;
      width: 32px;
      line-height: 32px;
      letter-spacing: 26px;
      transform: translateY(-3px);
    }
  }

  h3 {
    .zoomrc-rich-text-editor-emoji-container {
      height: 28px;
      width: 28px;
      line-height: 28px;
      letter-spacing: 23px;
      transform: translateY(0);
    }
  }
}
