@import 'inserters';

.zoomrc-rich-text-editor {
  width: 100%;
  height: auto;
  border: 1px solid color(border, 2);
  border-radius: 4px;
  color: color(text, 2);
  background-color: color(layer, 1);

  > .editor-container {
    width: 100%;
    height: auto;
    display: flex;
    padding: 6px;
    padding-top: 0;
    flex-direction: column;
    position: relative;

    > .editor-actions {
      width: 100%;
      background-color: color(layer, 1);
      z-index: 1;
      border-bottom: 1px solid color(border, 2);
      padding: 4px;
      row-gap: 8px !important;

      > .zoomrc-divider {
        margin: 0 8px;
      }

      > .zoomrc-stack-item {
        > .editor-action {
          height: 24px;
          width: 24px;
          margin: 0 2px;

          > .zoomrc-popover {
            height: inherit;
            width: inherit;

            .action-button {
              height: inherit;
              width: inherit;

              > .zoomrc-button-inner-child {
                height: 100%;
                width: 100%;
                color: color(text, 2);
                padding: 0;

                > .zoomrc-button-prefix {
                  height: 100%;
                  width: 100%;
                  font-size: to-rem(22px);
                  color: inherit;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  padding-top: 2px;
                }

                > .action-button-text {
                  font-size: to-rem(26px);
                  color: inherit;
                  margin: 0;
                  padding-top: 2px;
                }
              }
            }
          }

          &.active {
            .action-button {
              border-color: color(accent, 1, glassy, 5);

              > .zoomrc-button-inner-child {
                color: color(accent);
              }
            }
          }
        }
      }
    }

    > .editor {
      flex: 1;
      padding-top: 6px;

      .os-viewport {
        > .rich-text-editable {
          color: color(text, 1);
          height: 100%;
          width: 100%;
          max-width: 100%;
          display: table;
        }
      }
    }

    > .resize-editor-handle {
      width: 100%;
      height: 15px;
      position: absolute;
      bottom: -6px;
      left: 0;
      right: 0;
      cursor: ns-resize;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        height: 2px;
        width: calc(100% - 2px);
        margin: auto;
        border-radius: 100px;
        transition: all 150ms linear;
        background: color(accent, 1, glassy, 3);
      }

      &:hover {
        &::after {
          width: 100%;
          background: color(accent, 1, glassy, 5);
        }
      }
    }
  }

  &-sticky-actions {
    > .editor-container {
      > .editor-actions {
        position: sticky;
        top: 0;
      }
    }
  }
}
