@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';

*,
*::after,
*::before {
  box-sizing: border-box;
}

.sb-show-main.sb-main-padded {
  padding: 0;
}

html {
  @include scrollbar;

  background-color: color(layer, 1);
}

.sb-preparing-story,
.sb-preparing-docs {
  background-color: color(layer, 1);
}

.infinite-scroll-data {
  color: color(text, 2);
  border: 1px solid color(border, 2);
  background-color: color(layer, 1);
  margin: 2px 0;
  padding: 4px 8px;
  border-radius: 4px;

  &:nth-child(odd) {
    color: color(text, 3);
  }
}

.zoomrc-selectable {
  max-height: 500px;
  overflow: auto !important;
}
