@import '../../styles/variables';
@import '../../styles/functions';
@import '../../styles/mixins';

*,
*::after,
*::before {
  box-sizing: border-box;
}

.sb-show-main.sb-main-padded {
  padding: 0;
}

html {
  @include scrollbar;

  background-color: color(layer, 1);
}

.sb-preparing-story,
.sb-preparing-docs {
  background-color: color(layer, 1);
}
