@import '../../styles/functions';
@import '../../styles/mixins';

.svg-icon-story {
  width: 600px;
  background-color: color(layer, 1);
  padding: 10px;
  border: 1px solid color(border, 2);
  border-radius: 10px;

  > .icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 12px;
    row-gap: 16px;
    margin-top: 10px;

    > .icon-container {
      background-color: color(layer, 2);
      border: 1px solid color(border, 2);
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 6px 0;

      > .name {
        @include truncate;

        user-select: all;
        max-width: 100px;
        color: color(text, 3);
      }
    }
  }
}
