$zoomrc-progress-br: 4px;

@keyframes zoomrc-progress-wave-rtl-animation {
  from {
    right: -100%;
    opacity: 0.5;
  }

  to {
    right: 0;
    opacity: 0;
  }
}

@keyframes zoomrc-progress-wave-ltr-animation {
  from {
    left: -100%;
    opacity: 0.5;
  }

  to {
    left: 0;
    opacity: 0;
  }
}

@keyframes zoomrc-progress-wave-vertical-animation {
  from {
    top: 100%;
    opacity: 0.5;
  }

  to {
    top: 0;
    opacity: 0;
  }
}

div.zoomrc-progress {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 6px;

  > .progresses {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: color(layer, 3);
    border: 1px solid color(border, 2);
    padding: 2px;
    border-radius: 4px;

    > .zoomrc-progress-step {
      height: 100%;
      display: inline-block;
      position: relative;

      &.single-step {
        border-radius: $zoomrc-progress-br;
      }

      &.multi-step {
        &:last-child {
          border-radius: $zoomrc-progress-br 0 0 $zoomrc-progress-br;
        }

        &:first-child {
          border-radius: 0 $zoomrc-progress-br $zoomrc-progress-br 0;
        }
      }

      > .zoomrc-progress-wave {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: inherit;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        pointer-events: none;

        &::before {
          content: '';
          position: absolute;
          inset: 0;
          background-color: #fff;
          border-radius: inherit;
          animation-name: zoomrc-progress-wave-rtl-animation;
          animation-duration: 1.4s;
          animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          animation-iteration-count: infinite;
          right: -100%;
          width: 100%;
          height: 100%;
        }
      }

      > .zoomrc-popover {
        height: 100%;
        display: flex;

        &:last-child {
          border-radius: $zoomrc-progress-br;
        }

        &:first-child {
          border-radius: 0 $zoomrc-progress-br $zoomrc-progress-br 0;
        }
      }
    }
  }

  > .zoomrc-progress-info {
    display: flex;

    > .percentage {
      color: color(text, 1);
      user-select: none;
    }

    > .progress-icon {
      &.done {
        color: color(success);
      }

      &.failed {
        color: color(error);
      }
    }
  }

  &.vertical {
    display: inline-flex;
    flex-direction: column-reverse;
    width: unset;

    > .progresses {
      flex-direction: column-reverse;
      height: 100%;

      > .zoomrc-progress-step {
        &.multi-step {
          &:last-child {
            border-radius: $zoomrc-progress-br $zoomrc-progress-br 0 0;
          }

          &:first-child {
            border-radius: 0 0 $zoomrc-progress-br $zoomrc-progress-br;
          }
        }

        > .zoomrc-progress-wave {
          &::before {
            animation-name: zoomrc-progress-wave-vertical-animation;
            bottom: unset;
            top: 100%;
            left: 0;
            right: 0;
          }
        }
      }
    }
  }

  &-circular {
    position: relative;
    display: inline-block;

    .zoomrc-progress-background {
      stroke: color(layer, 3);
    }

    .zoomrc-progress-bar {
      stroke-linecap: round;
      stroke-linejoin: round;
    }

    > .zoomrc-progress-info {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      > .percentage {
        color: color(text, 1);
        user-select: none;
      }

      > .progress-icon {
        &.done {
          color: color(success);
        }

        &.failed {
          color: color(error);
        }
      }
    }
  }
}

@include ltr {
  div.zoomrc-progress {
    > .progresses {
      > .zoomrc-progress-step {
        &.multi-step {
          &:last-child {
            border-radius: 0 $zoomrc-progress-br $zoomrc-progress-br 0;
          }

          &:first-child {
            border-radius: $zoomrc-progress-br 0 0 $zoomrc-progress-br;
          }
        }

        > .zoomrc-progress-wave {
          &::before {
            animation-name: zoomrc-progress-wave-ltr-animation;
            right: unset;
            left: -100%;
          }
        }
      }
    }

    &.vertical {
      > .progresses {
        > .zoomrc-progress-step {
          &.multi-step {
            &:last-child {
              border-radius: $zoomrc-progress-br $zoomrc-progress-br 0 0;
            }

            &:first-child {
              border-radius: 0 0 $zoomrc-progress-br $zoomrc-progress-br;
            }
          }
        }
      }
    }
  }
}
