@use 'sass:math';
@import 'mixins';

$zoomrc-select-label-left-padding: 6px;
$zoomrc-select-group-right-padding: 26px;
$zoomrc-select-guide-line-color: color(border, 2, lighter, 1);
$zoomrc-select-guide-line-transition: all 100ms linear;
$zoomrc-select-guide-line-color-hover: color(border, 2, lighter, 2);
$zoomrc-select-option-height: 34px;

@keyframes zoomrc-select-open-dropdown-animation {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }

  to {
    transform: none;
    opacity: 1;
  }
}

div.zoomrc-select {
  width: 100%;
  height: auto;
  position: relative;

  @each $variant in $common-variants {
    @include generate-select-variants($variant);
  }

  @each $size in $common-sizes {
    @include generate-select-sizes($size);
  }

  &-open {
    z-index: 1;
  }

  &-disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  > .info-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    user-select: none;
    cursor: pointer;
    background-color: color(layer, 2);
    transition: box-shadow 150ms linear;

    > .select-label,
    > .zoomrc-select-value,
    > .zoomrc-select-placeholder {
      @include truncate;

      margin: 0;
      padding-left: $zoomrc-select-label-left-padding;
      direction: rtl;
      text-align: right;
    }

    > .zoomrc-select-value,
    > .zoomrc-select-placeholder {
      color: inherit;
      flex: 1;
    }

    > .zoomrc-select-placeholder {
      color: color(placeholder);
    }

    > .zoomrc-select-value {
      color: color(text, 1);

      > .label {
        display: inline-block;
        padding: 0 4px;
        margin: 0 2px;
        background-color: color(accent);
        border-radius: 4px;
        color: white;
      }
    }

    > .expand-icon {
      font-size: to-rem(24px);
    }
  }

  > .zoomrc-select-state-message {
    color: inherit;
    margin-top: 4px;
    direction: rtl;
    text-align: right;
  }

  > .zoomrc-select-dropdown {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: color(layer, 2);
    border: 1px solid color(border, 2);
    border-radius: 4px;
    animation: zoomrc-select-open-dropdown-animation 70ms linear;

    > .search-box {
      padding: 6px;

      .search-input-container {
        background-color: color(layer, 1);

        &.focus {
          border: none;
          box-shadow: none;
        }
      }
    }

    > .options-list {
      @include hover-scrollbar;

      padding: 6px;
      overflow: auto;

      > .zoomrc-select-group {
        display: flex;
        user-select: none;
        flex-direction: column;

        &:not(:first-child) {
          border-top: 1px solid $zoomrc-select-guide-line-color;
          margin-top: 4px;
        }

        &:hover {
          > .options {
            &::before {
              background-color: $zoomrc-select-guide-line-color-hover;
            }

            > .zoomrc-select-option {
              &.group-option {
                &::before {
                  background-color: $zoomrc-select-guide-line-color-hover;
                }
              }
            }
          }
        }

        > .group-info {
          display: flex;
          align-items: center;
          height: $zoomrc-select-option-height;
          padding: 0 6px;

          > .label {
            @include truncate;

            margin: 0;
            color: color(text, 1, glassy, 8);
            flex: 1;
            text-align: right;
            direction: ltr;
          }
        }

        > .options {
          padding-right: $zoomrc-select-group-right-padding;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            background-color: $zoomrc-select-guide-line-color;
            transition: $zoomrc-select-guide-line-transition;
            width: 1px;
            top: 0;
            right: math.div($zoomrc-select-group-right-padding, 2);
            height: calc(100% - (math.div($zoomrc-select-option-height, 2) - 2px));
          }
        }
      }

      .zoomrc-select-option {
        display: flex;
        color: color(text, 2);
        user-select: none;
        height: $zoomrc-select-option-height;
        align-items: center;
        padding: 0 6px;
        cursor: pointer;
        transition: all 75ms linear;
        position: relative;

        &.group-option {
          &::before {
            content: '';
            position: absolute;
            right: math.div($zoomrc-select-group-right-padding, 2) * -1;
            top: 0;
            bottom: 0;
            width: math.div($zoomrc-select-group-right-padding, 2);
            height: 1px;
            background-color: $zoomrc-select-guide-line-color;
            transition: $zoomrc-select-guide-line-transition;
            margin: auto;
          }
        }

        &.disabled {
          pointer-events: none;
          opacity: 0.5;
        }

        &.selected {
          background-color: color(accent, 1, glassy, 2);
        }

        &:hover {
          background-color: color(placeholder, glassy, 1);

          &.selected {
            background-color: color(accent, 1, glassy, 3);
          }
        }

        > .label {
          @include truncate;

          margin: 0;
          color: inherit;
          flex: 1;
          text-align: right;
          direction: ltr;
        }

        > .selected-icon {
          color: inherit;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: $zoomrc-select-option-height;
        }
      }
    }

    > .empty-list {
      display: flex;
      color: color(text, 2);
      flex-direction: column;
      justify-content: center;
      animation: zoomrc-select-open-dropdown-animation 70ms linear;
      align-items: center;

      > .empty-list-icon {
        margin: 10px 0 0;
      }

      > .empty-list-message {
        color: inherit;
        margin: 10px 0 0;
        user-select: none;
      }
    }
  }
}

@include ltr {
  div.zoomrc-select {
    > .info-container {
      > .select-label {
        direction: ltr;
        text-align: left;
        padding-left: 0;
        padding-right: $zoomrc-select-label-left-padding;
      }
    }

    > .zoomrc-select-state-message {
      direction: ltr;
      text-align: left;
    }

    > .zoomrc-select-dropdown {
      > .options-list {
        > .zoomrc-select-group {
          > .group-info {
            > .label {
              direction: ltr;
              text-align: left;
            }
          }
        }

        .zoomrc-select-option {
          > .label {
            direction: ltr;
            text-align: left;
          }
        }
      }
    }
  }
}
