@import 'mixins';

.zoomrc-select {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;

  @each $variant in $common-variants {
    @include generate-select-variants($variant);
  }

  @each $size in $common-sizes {
    @include generate-select-sizes($size);
  }

  &-disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  > .content {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    user-select: none;
    cursor: pointer;
    background-color: color(layer, 3);
    transition: box-shadow 150ms linear;
    column-gap: 6px;

    > .select-label,
    > .select-value,
    > .select-placeholder {
      @include truncate;

      margin: 0;
      direction: rtl;
      text-align: right;
    }

    > .select-value,
    > .select-placeholder {
      color: inherit;
      flex: 1;
      position: relative;
    }

    > .select-placeholder {
      color: color(placeholder);
    }

    > .select-value {
      color: color(text, 1);
      text-align: right;
      direction: rtl;
      padding: 0 9px;

      > .label {
        display: inline-block;
        padding: 0 4px;
        margin: 0 2px;
        background-color: color(accent);
        border-radius: 4px;
        color: white;
      }
    }

    > .expand-icon {
      font-size: to-rem(24px);
    }
  }

  > .zoomrc-select-state-message {
    color: inherit;
    margin-top: 4px;
    direction: rtl;
    text-align: right;
  }
}

.zoomrc-select-portal {
  @each $size in $common-sizes {
    @include generate-select-portal-sizes($size);
  }

  .options-container {
    @include hover-scrollbar;

    background: color(layer, 2);
    box-shadow: 0 0 0 1px color(border, 2);
    border-radius: 4px;
    overflow-y: auto;
    overscroll-behavior: contain;
    user-select: none;
    padding: 10px 6px;

    > .empty-list {
      display: flex;
      color: color(text, 2);
      flex-direction: column;
      justify-content: center;
      animation: zoomrc-select-open-dropdown-animation 70ms linear;
      align-items: center;

      > .empty-list-icon {
        margin: 10px 0 0;
      }

      > .empty-list-message {
        color: inherit;
        margin: 10px 0 0;
        user-select: none;
      }
    }

    > .group-option {
      > .group-title {
        margin: 0;
        color: color(text, 3);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-inline-start: 4px;
      }
    }

    .option {
      color: color(text, 2);
      display: flex;
      align-items: center;
      padding: 0 4px;

      &:hover {
        background-color: color(accent, 1, glassy, 1);
        color: white;
      }

      &.active {
        background-color: color(accent, 1, glassy, 3);
        color: white;

        &:hover {
          background-color: color(accent, 1, glassy, 2);
        }
      }

      &.child-option {
        padding-inline-start: 30px;
      }

      &.disabled {
        pointer-events: none;
        opacity: 0.5;
      }
    }

    > .search-box {
      position: sticky;
      top: -6px;
      z-index: 2;
    }
  }

  .scroll-handler {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    cursor: default;
    font-size: 12px;
    line-height: 1;
    height: 25px;
    user-select: none;
    position: absolute;
    z-index: 1;
    width: 100%;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 35px;
      position: absolute;
      left: 0;
      z-index: -1;
      pointer-events: none;
    }

    &[data-dir='up']::before {
      background: linear-gradient(to bottom, color(layer, 2) 50%, transparent);
      border-radius: 8px 8px 0 0;
      top: 0;
    }

    &[data-dir='down']::before {
      background: linear-gradient(to top, color(layer, 2) 50%, transparent);
      border-radius: 0 0 8px 8px;
      top: -10px;
    }

    &[data-dir='up'] {
      top: 0;
    }

    &[data-dir='down'] {
      bottom: 0;
    }

    > .chevron-icon {
      color: color(text, 1);
      font-size: to-rem(26px);
    }
  }

  &-with-search-box {
    .options-container {
      padding-top: 10px;
    }

    .scroll-handler {
      &[data-dir='up'] {
        height: 14px;
        top: -8px;
      }

      &[data-dir='up']::before {
        height: 28px;
      }
    }
  }
}

@include ltr {
  .zoomrc-select {
    > .content {
      > .select-label,
      > .select-value,
      > .select-placeholder {
        direction: ltr;
        text-align: left;
      }
    }

    > .zoomrc-select-state-message {
      direction: ltr;
      text-align: left;
    }
  }
}
