.zoomrc-explorer {
  width: 100%;
  height: 600px;
  max-height: 100vh;
  background-color: color(layer, 1);
  border: 1px solid color(border, 2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;

  .rename-file {
    .zoomrc-input {
      direction: ltr !important;
      text-align: left !important;
    }
  }

  > .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid color(border, 2);

    > .actions {
      display: flex;
      gap: 8px;

      > .toggle-view-mode {
        > .zoomrc-button-inner-child {
          font-size: to-rem(24px);
          width: 100%;
          height: 100%;
        }
      }
    }

    > .filters {
      display: flex;
      gap: 8px;

      > .search-input {
        width: 200px;
      }

      > .file-type-select {
        width: 140px;
      }
    }
  }

  > .content {
    flex: 1;
    display: flex;
    max-height: calc(100% - 46px);
    position: relative;
    z-index: 1;

    > .sidebar {
      width: 200px;
      border-right: 1px solid color(border, 2);
      max-height: 100%;
      display: flex;
      position: relative;

      > .preview-message {
        height: 100%;
        width: 100%;
        color: color(text);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
      }

      > .sidebar-scroll-view {
        > .os-viewport {
          > .sidebar-content {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            padding: 20px 0;

            > .file-actions {
              padding: 0 6px;

              > .zoomrc-row {
                > .zoomrc-col {
                  .zoomrc-popover {
                    width: 100%;
                  }

                  .zoomrc-popover-container {
                    > .container-children {
                      background-color: color(layer, 2);

                      > .arrow {
                        &::before {
                          background-color: color(layer, 2);
                        }
                      }
                    }
                  }

                  .sidebar-action {
                    width: 100%;
                  }
                }
              }
            }

            > .file-preview {
              width: 100%;
              height: auto;
              display: flex;
              align-items: center;
              justify-content: center;

              > .unknown-file-preview {
                position: relative;
                height: fit-content;

                > .format {
                  @include truncate;

                  width: 70px;
                  text-align: center;
                  height: 20px;
                  user-select: none;
                  position: absolute;
                  margin: auto;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  direction: ltr;
                  top: 0;
                }
              }
            }

            > .file-name {
              word-break: break-all;
              color: color(text);
              text-align: center;
              user-select: none;
              margin: 0;
              padding: 0 20px;
              direction: ltr;
            }

            > .file-info {
              width: 100%;
              display: flex;
              flex-direction: column;
              padding: 0 10px;

              > .info {
                display: flex;
                padding: 6px 4px;
                user-select: none;

                &:not(:last-child) {
                  border-bottom: 1px solid color(border, 2);
                }

                > .title {
                  color: color(text, 2);
                  margin: 0;
                  flex: 1;
                }

                > .value {
                  @include truncate;

                  color: color(text, 3);
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }

    > .items {
      flex: 1;

      > .explorer-scroll-view {
        height: 100%;

        > .files-skeletons {
          display: flex;
          flex-wrap: wrap;
          padding: 10px 16px;

          > .zoomrc-skeleton-paper {
            margin: 2px 0;
          }
        }

        > .explorer-alert {
          width: 100%;

          > .zoomrc-alert {
            padding: 0 14px;
          }
        }

        > .selectable-container {
          @include scrollbar;

          display: flex;
          user-select: none;
          overflow: auto;
          max-height: 100%;
          flex-direction: column;
          padding: 6px 12px;
          min-height: 100%;

          &.disabled {
            pointer-events: none;
          }

          > div:not([style])[data-key] {
            width: 100%;
            height: unset;
            margin: 0;
            cursor: pointer;

            &:not(.selected):hover {
              background-color: color(accent, 1, glassy, 1);
            }

            > .file-context-menu {
              width: 100%;
              height: 100%;
              border-radius: 0;
              border: unset;
              background-color: transparent;

              &:hover {
                border-color: color(accent, 1, glassy, 5);
              }

              &.selected {
                border-color: color(accent);
                background-color: color(accent, 1, glassy, 4);
              }

              > .explorer-file {
                width: 100%;
                height: 100%;
                display: flex;
                padding: 6px;
                justify-content: space-between;
                pointer-events: none;
                flex-direction: row-reverse;
                column-gap: 10px;

                > .file-info {
                  flex: 1;
                  display: flex;
                  align-items: center;
                  flex-direction: row-reverse;
                  justify-content: space-between;

                  > .file-date {
                    > .date {
                      @include truncate;

                      margin: 0;
                      color: color(text, 3);
                    }
                  }

                  > .file-name {
                    @include truncate;

                    color: color(text, 2);
                    display: flex;
                    flex: 1;
                    justify-content: flex-start;
                    max-width: 200px;

                    &,
                    & * {
                      direction: ltr;
                    }

                    > .name,
                    > .type {
                      margin: 0;
                    }

                    > .name {
                      @include truncate;
                    }
                  }
                }

                > .explorer-file-preview {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: unset;

                  > .unknown-preview {
                    position: relative;
                    height: inherit;

                    > .file-icon {
                      height: 100%;
                      display: inline-block;
                    }

                    > .file-type {
                      @include truncate;

                      direction: ltr !important;
                      position: absolute;
                      color: color(text);
                      text-align: center;
                      left: 0;
                      right: 0;
                      top: 10px;
                      bottom: 0;
                      margin: auto;
                      width: 34px;
                      height: 20px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include ltr {
  .zoomrc-explorer {
    > .content {
      > .sidebar {
        border-right: unset;
        border-left: 1px solid color(border, 2);
      }

      > .items {
        > .explorer-scroll-view {
          > .selectable-container {
            > div:not([style])[id] {
              > .file-context-menu {
                > .explorer-file {
                  flex-direction: row;

                  > .file-info {
                    flex-direction: row;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
