@import 'functions';
@import 'mixins';

button[class^='zoomrc-button-'],
span[class^='zoomrc-button-']:not(.zoomrc-button-inner-child) {
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  display: inline-flex;
  user-select: none;
  padding: 0;

  &,
  & * {
    transition: all 150ms linear, color 20ms linear;
  }

  #{disabled-selector(true)} {
    cursor: default;
    pointer-events: none;

    .zoomrc-spin > .spinner {
      border-color: color(text, 3) !important;
    }
  }
}

.zoomrc-button {
  &-full {
    width: 100%;
  }

  &-default,
  &-square {
    border-radius: 2px;
  }

  &-circle {
    border-radius: 50%;
  }

  &-sharp,
  &-sharp-square {
    border-radius: 0;
  }

  &-rounded {
    border-radius: 100px;
  }

  @each $size in $common-sizes {
    &-#{$size} {
      @include generate-size($size);
    }
  }

  &-primary {
    @include generate-primary-variants;
  }

  &-secondary {
    @include generate-secondary-variants;
  }

  &-dashed {
    @include generate-dashed-variants;
  }

  &-link {
    @include generate-link-variants;
  }

  &-text {
    @include generate-text-variants;
  }

  &-bordered {
    @include generate-bordered-variants;
  }
}

.zoomrc-button-inner-child {
  &,
  & * {
    pointer-events: none;
  }
}
