@import 'mixins';

div.zoomrc-input-container {
  display: block;
  width: 100%;
  height: auto;

  &.zoomrc-input {
    &-disabled {
      > .zoomrc-input-label-container {
        pointer-events: none;
        opacity: 0.5;
      }
    }

    @each $variant in $common-variants {
      @include generate-input-variants($variant);
    }

    @each $size in $common-sizes {
      @include generate-input-sizes($size);
    }
  }

  > .zoomrc-input-state-message {
    color: inherit;
    margin-top: 4px;
    direction: rtl;
    text-align: right;
  }

  > .zoomrc-input-label-container {
    display: flex;
    width: 100%;
    height: 100%;
    color: inherit;
    background-color: color(layer, 3);
    border-radius: 4px;
    border: 1px solid;
    transition: box-shadow 150ms linear;
    cursor: text;

    > .zoomrc-input-label {
      user-select: none;
      color: inherit;
      display: flex;
      align-items: center;
      cursor: text;

      > p[class^='zoomrc-text-'] {
        margin: 0;
        color: inherit;
        direction: rtl;
      }
    }

    > .zoomrc-input {
      @include generate-input-password-button-visibilities('text');

      @include generate-input-password-button-visibilities('password');

      flex: 1;
      margin: 0;
      outline: none;
      background-color: unset;
      border: none;
      color: color(text, 1);
      direction: rtl;
      text-align: right;

      &.ltr-language {
        direction: ltr;
        text-align: left;
      }

      &::placeholder {
        color: color(placeholder);
        user-select: none;
        direction: rtl;
        text-align: right;
      }

      &[type='search']::-webkit-search-cancel-button,
      &[type='search']::-webkit-search-decoration {
        -webkit-appearance: none;
        appearance: none;
      }

      &[type='number']::-webkit-inner-spin-button,
      &[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
      }

      &[type='number'] {
        -moz-appearance: textfield;
      }

      &[type='search']:valid {
        & + .search-clear-button {
          display: block;
        }
      }
    }

    > .type-switch-button,
    > .search-clear-button {
      height: unset;
      display: block;
      border: none;
      width: 36px;

      > .zoomrc-button-inner-child {
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        > .visible,
        > .hidden,
        > .clear {
          display: none;
          font-size: to-rem(24px);
          color: color(text, 3);
        }
      }
    }

    > .search-clear-button {
      display: none;

      > .zoomrc-button-inner-child {
        > .clear {
          display: initial;
        }
      }
    }

    > .number-handlers {
      display: flex;
      flex-direction: column;
      width: 36px;

      > .number-handler {
        border: none;
        width: 100%;
        height: 50%;

        &:first-child {
          > .zoomrc-button-inner-child {
            > .zoomrc-long-press {
              align-items: flex-end;
            }
          }
        }

        &:last-child {
          > .zoomrc-button-inner-child {
            > .zoomrc-long-press {
              align-items: flex-start;
            }
          }
        }

        &:hover {
          height: 80%;

          > .zoomrc-button-inner-child {
            > .zoomrc-long-press {
              align-items: center;
            }
          }
        }

        > .zoomrc-button-inner-child {
          padding: 0;
          width: 100%;
          height: 100%;
          display: block;

          > .zoomrc-long-press {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
          }
        }
      }
    }
  }
}

@include ltr {
  div.zoomrc-input-container {
    > .zoomrc-input-label-container {
      > .zoomrc-input-label {
        > p[class^='zoomrc-text-'] {
          direction: ltr;
        }
      }

      > .zoomrc-input {
        direction: ltr;
        text-align: left;

        &.rtl-language {
          direction: rtl;
          text-align: right;
        }

        &::placeholder {
          direction: ltr;
          text-align: left;
        }
      }
    }

    > .zoomrc-input-state-message {
      direction: ltr;
      text-align: left;
    }
  }
}
