@import '../../source/styles/functions';

.typography-component-wrapper {
  background-color: color(layer, 2);
  color: color(text, 2);
  border: 1px solid color(border, 1);
  border-radius: 10px;
  text-align: right;
  padding: 10px;
  max-width: 580px;

  > .header-title {
    margin: 0;
    direction: ltr;
    text-align: center;
    border-bottom: 1px solid color(border, 1);
    color: color(text, 3);
  }
}
