.zoomrc-infinite-scroll-view {
  > .zoomrc-scroll-view {
    > .os-viewport {
      &.native-scrollbar {
        @include scrollbar;

        overflow: auto;
      }

      > .zoomrc-infinite-scroll-view-content {
        display: flex;
        flex-direction: column;

        > .loading-message {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 50px;
          color: color(text, 2);
        }

        > .end-message {
          width: 100%;
          margin: 6px 0;
          color: color(text, 2);

          > .end-message-title {
            justify-content: center;
            border-radius: 4px;
            align-items: center;
            min-height: 50px;
            display: flex;
            background-color: color(layer, 3);
            border: 1px solid color(border, 2);
            margin: 0;
            width: 100%;
            height: 100%;
            user-select: none;
          }
        }
      }
    }
  }

  &.reversed {
    > .zoomrc-scroll-view {
      > .os-viewport {
        > .zoomrc-infinite-scroll-view-content {
          flex-direction: column-reverse;
        }
      }
    }
  }
}
